<div class="grid">
  <div class="w-full flex flex-column align-content-center justify-content-center">
    <div class="flex justify-content-center align-content-center text-align-center">
      <!-- Login -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
        <p-card
          styleClass="mt-10 w-24rem"
          header="Login"
          subheader="Faça login com sua conta existente!"
          *ngIf="loginCard"
        >
          <div class="flex justify-content-center align-content-center text-align-center mt-3">
            <input type="email" pInputText placeholder="digite seu E-mail" formControlName="email" />
          </div>

          <div class="flex justify-content-center align-content-center text-align-center mt-3">
            <input type="password" pInputText placeholder="digite sua senha" formControlName="password" />
          </div>

          <div class="card flex justify-content-center mt-3">
            <button pButton pRipple type="submit" label="Entrar" [disabled]="!this.loginForm.valid"></button>
          </div>

          <span
            class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold"
            (click)="loginCard = !loginCard"
            style="cursor: pointer;"
          >Criar conta</span>

        </p-card>
      </form>

      <!-- register -->
      <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignupForm()">
        <p-card
          styleClass="mt-10 w-24rem"
          header="Criar Conta"
          subheader="Crie já sua conta!"
          *ngIf="!loginCard"
        >
          <div class="flex justify-content-center align-content-center text-align-center mt-3">
            <input type="text" pInputText placeholder="digite seu nome" formControlName="name" />
          </div>

          <div class="flex justify-content-center align-content-center text-align-center mt-3">
            <input type="email" pInputText placeholder="digite seu E-mail" formControlName="email" />
          </div>

          <div class="flex justify-content-center align-content-center text-align-center mt-3">
            <input type="password" pInputText placeholder="digite sua senha" formControlName="password" />
          </div>

          <div class="card flex justify-content-center mt-3">
            <button pButton pRipple type="submit" label="Criar conta" [disabled]="!this.signupForm.valid"></button>
          </div>

          <span
            class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold"
            (click)="loginCard = !loginCard"
            style="cursor: pointer;"
          >Já sou cadastrado</span>

        </p-card>
      </form>
    </div>
  </div>
</div>
